<div style="display:flex; flex-direction:column; height:100vh">

    <md-toolbar color="warn">
        <input type="file" #inputFile >

        <input #inputGridSize mdInput placeholder="Gridsize" value="100" type="number" maxlength="7">

        <button md-button (click)="service.loadFile(inputFile['files'][0], inputGridSize.value)">Load</button>
        <button md-button [mdMenuTriggerFor]="menuFilter">Filter</button>
        <button md-button> Save</button>

        <md-select placeholder="Color"  [(ngModel)]="service.colorType">
            <md-option *ngFor="let c of service.colorTypes" [value]="c" >{{c}}</md-option>
        </md-select>

        <md-select placeholder="OnClick" [(ngModel)]="service.clickAction">
            <md-option *ngFor="let c of service.clickActions" [value]="c" >{{c}}</md-option>
        </md-select>

        <button md-button>More</button>
    </md-toolbar>

    <md-menu #menuFilter>
        <button md-menu-item *ngFor="let f of service.filterTypes" (click)="service.filter(f)">{{f}}</button>
    </md-menu>

    <div style="flex: 1 1 auto; overflow:hidden;">
        <app-surface-view></app-surface-view>
    </div>

</div>