<div style="display:flex; flex-direction:column; height:100vh">
    <div style="display:flex; flex-direction:row; align-items:center">
        Read .obj:<input type="file" id="infile"> Gridsize:
        <input type="number" id="raster" value="100">
        <input type="button" id="loadButton" value="Load"> Filter:
        <select id="filter">
					<option value="" selected>-</option>
					<option value="gauss">Gauss</option>
					<option value="sobel">Sobel</option>
					<option value="sobelnoblur">Sobel no blur</option>
					<option value="makeallvaluessame">Make all values the same</option>
					<option value="extendedges">Extend edges</option>
					<option value="avggradients">Avg. gradients</option>
					<option value="remove">Remove marked</option>
				</select>
        <input type="button" id="filterButton" value="Submit"> Save:

        <input type="button" id="saveButton" value="Save"> Color:

        <select id="colorType">
					<option value="xyz" selected>Position</option>
					<option value="value">Value</option>
					<option value="normal">Normal</option>
					<option value="binarisation">Binarisation</option>
				</select> Click: <select id="clickType">
					<option value="info" selected>Info</option>
					<option value="mark">Mark</option>
					<option value="floodfill">Flood-Fill</option>
				</select>

        <button type="button" data-toggle="modal" data-target="#myModal">More</button>
    </div>

    <div style="flex: 1 1 auto; overflow:hidden;">
        <app-surface-view></app-surface-view>
    </div>

</div>