<div class="vbox wh100">

    <md-toolbar color="warn">
        <input type="file" #inputFile>

        <input #inputGridSize placeholder="Gridsize" value="100" type="number" maxlength="7">

        <button md-button (click)="service.loadFile(inputFile['files'][0], inputGridSize.value)">Load</button>
        <button md-button [mdMenuTriggerFor]="menuFilter">Filter</button>
        <button md-button> Save</button>

        <md-select placeholder="Color" [(ngModel)]="service.colorType">
            <md-option *ngFor="let c of service.colorTypes" [value]="c">{{c}}</md-option>
        </md-select>

        <md-select placeholder="OnClick" [(ngModel)]="service.clickAction">
            <md-option *ngFor="let c of service.clickActions" [value]="c">{{c}}</md-option>
        </md-select>

        <button md-button (click)="service.unselectAll()">Unselect all</button>
        <button md-button><md-icon>more_vert</md-icon></button>
        <span class="grow"></span>
        <button md-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
    </md-toolbar>

    <md-menu #menuFilter>
        <button md-menu-item *ngFor="let f of service.filterTypes" (click)="service.filter(f)">{{f}}</button>
    </md-menu>

    <md-sidenav-container class="grow wh100">
        <md-sidenav #sidenav align="end">
            <md-tab-group class="min100 wh100">
                <md-tab label="Groups">
                    <div class="vbox grow wh100 min100">
                        <md-card *ngFor="let group of service.groups">
                            <md-card-header>
                                <div md-card-avatar [style.backgroundColor]="service.rgbToHex(group.color)" [colorPicker]="service.rgbToHex(group.color)"
                                    (colorPickerChange)="group.color=service.hexToRgb($event)"></div>
                                <md-input-container>
                                    <input mdInput placeholder="Name" [value]="group.name">
                                </md-input-container>

                            </md-card-header>
                            <md-card-actions>
                                <button md-button (click)="service.addSelectedToGroup(group)">ADD SELECTED</button>
                                <button md-button (click)="service.showGroup(group)">SHOW ALL</button>
                                <button md-button (click)="service.hideGroup(group)">HIDE ALL</button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-tab>
            </md-tab-group>

        </md-sidenav>
        <app-surface-view></app-surface-view>
    </md-sidenav-container>

</div>